# Core dependencies
streamlit>=1.24.0,<2.0.0
basic-pitch==0.4.0
tayuya==0.0.4

# Audio processing
numpy>=1.26,<2.0.0
librosa>=0.10.0,<0.11.0
matplotlib>=3.7.0,<3.8.0

# MIDI handling
mido>=1.2.10,<2.0.0

# Required for basic-pitch
scikit-learn==1.4.2
tflite-runtime==2.14.0

# Build tools (try adding specific versions for compatibility)
setuptools==78.1.1
wheel==0.41.2

--only-binary scikit-learn